body {
  background-color: black;
}

hr {
  background-color: black;
  border-style: none;
  border-top-style: dotted;
  border-color: black;
  border-width: 2px;
  width: 2%;
}

h1 {
  color: tomato;
  font-family: verdana;
}

h2{
  color: red;
}

h3 {
  color:orange;
  font-family: courier;
}

p {
  color: white;
}

ul {
  color: white;
}

table {
  color: white;
}

form {
  color: white;
}
